
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

body{
    margin:0;
    background-color: #FAFAFA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:linear-gradient(to right,rgb(245, 245, 245),rgb(53, 198, 235),rgb(245, 245, 245))

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    border: 1px solid white;
}

.title{
    font-size: small;
}
.project-box{
    width: 300px;
    height: 150px;
}

@media screen and (min-width:1020px) {
    .project-box{
        width: 700px;
        height: 150px;
    }
}

.show-detail{
    display: none;
}

.detail{
    font-size: x-small;
}
.Footer{
    position:relative ;
    bottom: 0;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C73E6;
    color:#DDE6ED;
}


.github{
    text-decoration: none;
    color: #7C73E6;
}
.github:hover{
    text-decoration: none;
    color: rgb(193, 224, 252);
}

/**********************************/
.Nav-sm{
    height:90px;
}


@media screen and (max-width:1010px){
    .Header{
        display: none;
    }

    .Header-phone{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu{
        background-color: #9DB2BF;
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.roll-up{
    background-image: url("./Media/up-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    right:0;
    bottom: 0;
    width:50px;
    height: 50px;
    position:fixed;
}